autogen-agentchat
autogen-core
autogen-ext
dotenv
openai
tiktoken
autogen-ext[http-tool]
autogen-ext[openai]
langchain-community
langchain
docker
autogen-ext[docker]
streamlit
langchain-tavily
langchain-google-vertexai
pydantic
autogen-ext[mem0]
autogen-ext[mem0-local]
uv